In [3]:
import time
import requests
import json
import os
import pandas as pd
import base64
import csv

In [2]:
def get_artist_list():
    
    #Desde archivo CSV
    #''';
    csv_path = 'C:/Users/nelso/Desktop/ironhacktareas/Final_Project/Spotify_v2.2/Spotify_v2/artists_db/'
    with open(csv_path + 'F_10_bands.csv', 'r') as infile:
        reader = csv.reader(infile)
        name_gender = []
        artist_list=[]
        for col in reader:
            artist_list.append((col[1]))
            
    infile.close()
    artist_list.pop(0)
    #'''
    #Lista manual
    '''
    artist_list = [
        ['Dua Lipa',''],
        ['Ed Sheeran',''],
        ['Taylor Switf',''],
        ['Bruno Mars',''],
        ['Katy Perry','']] #Fucking lista de: https://kirkleesmusica434729348.wordpress.com/top-10-artistas/
    '''
    
    
    artist_list = [artist.replace(" ", "+") for artist in artist_list]
    
    del reader, col
    
    return artist_list

In [3]:
def get_access_token():

    # URLS
    AUTH_URL    = 'https://accounts.spotify.com/authorize'
    TOKEN_URL   = 'https://accounts.spotify.com/api/token'
    CLIENT_ID   = '17d35b6f7c6140969fbea4f258d4b72a'
    CLIENT_SECRET = '2e2d4cbba9b5468886b08d74c2767e5a'

    # Ver Autorization Code Flow: 'https://developer.spotify.com/documentation/general/guides/authorization/code-flow/'
    auth_params = {
        'client_id': CLIENT_ID,
        'response_type': 'code',
        'redirect_uri': 'http://localhost:8888/callback',
        'scope': 'user-read-private',
    }
        
    auth_code = requests.get(AUTH_URL, auth_params)
    auth_header = base64.urlsafe_b64encode(bytes(CLIENT_ID + ':' + CLIENT_SECRET, 'utf-8'))
    
    headers = {
        'Content-Type': 'application/x-www-form-urlencoded',
        'Authorization': 'Basic %s' % auth_header.decode('ascii')
    }

    payload = {
        'grant_type': 'client_credentials',
        'code': auth_code,
        'redirect_uri': 'https://open.spotify.com/collection/playlists',
    }

    # request to /token endpoint. aquí obtenermos el token de acceso 
    access_token_request = requests.post(url=TOKEN_URL, data=payload, headers=headers)
    access_token_response_data = access_token_request.json()

    # extraemos y almacenamos únicamente el token del json
    access_token = access_token_response_data['access_token']

    return  access_token

In [4]:
def search_artist(atoken, BASE_URL, name):
    pass
    search_headers = {
        'Content-Type': 'application/json',
        'Authorization': 'Bearer ' + atoken
    }
    search_pamans = {
        'q': name, 
        'type':'artist',
        'limit':50,
        'offset': 0,
        'include_external': 'FALSE'
        
    }

    new_search = requests.get( BASE_URL + 'search?', headers=search_headers, params=search_pamans).json()
    return new_search

In [5]:
import os
def write_to_csv(asearch):
    
    csv_path = r'C:\Users\nelso\Desktop\ironhacktareas\Final_Project\Spotify_v2.2\Spotify_v2\temp_csv_files\_list_artist.csv'
    csv_data = pd.DataFrame()
    csv_data = pd.json_normalize(asearch['artists']['items'],max_level=1)
    csv_data = csv_data.reset_index(drop=True)
    
    if len(csv_data)==0:
        csv_data = csv_data.reset_index(drop=True)
    else:
        csv_data = csv_data.drop(columns=["images","uri","external_urls.spotify","followers.href"])
        csv_data = csv_data.reset_index(drop=True)
    #print(csv_data)            # imprime el dataframe en pantalla
    csv_data.to_csv(csv_path,index=False,mode='a')
    
    del asearch, csv_data
    
    return 0

In [6]:
def clean_csv_duplicated():
    csv_path = os.getcwd() + '/temp_csv_files/'
    #csv_path = os.path.dirname(__file__)
    with open(r'C:\Users\nelso\Desktop\ironhacktareas\Final_Project\Spotify_v2.2\Spotify_v2\temp_csv_files\_list_artist.csv', 'r') as infile, open(r'C:\Users\nelso\Desktop\ironhacktareas\Final_Project\Spotify_v2.2\Spotify_v2\temp_csv_files\Final_list_artist.csv','w') as outfile:
        seen = set()
        for line in infile:
            if line in seen: continue
            
            seen.add(line)
            outfile.write(line)
        
        infile.close()
        outfile.close()
                
    del csv_path, infile, line, seen
    return 0

In [7]:
def remove_csv_columns():
    #csv_path = os.path.dirname(__file__) + '/temp_csv_files/'
    with open(r'C:\Users\nelso\Desktop\ironhacktareas\Final_Project\Spotify_v2.2\Spotify_v2\temp_csv_files\Final_list_artist.csv', 'r') as infile, open(r'C:\Users\nelso\Desktop\ironhacktareas\Final_Project\Spotify_v2.2\Spotify_v2\temp_csv_files\Final_list_artist_v2.csv','w') as outfile:
        
        count = 0
        for line in infile:
            if line[0:3] == '[],':
                count = count + 1
            else:         
                outfile.write(line)
        infile.close()
        outfile.close()
                
    del  infile, line
    return 0

In [8]:
def remove_csv_files():
    #csv_path = os.getcwd() + '/temp_csv_files/'
    os.remove(r'C:\Users\nelso\Desktop\ironhacktareas\Final_Project\Spotify_v2.2\Spotify_v2\temp_csv_files\_list_artist.csv')
            
    return 0

In [9]:
def main():
    BASE_URL    = 'https://api.spotify.com/v1/'
    atoken = get_access_token()

    artist_name = get_artist_list()

    for a_name in artist_name:
        time.sleep(0.1)
        asearch = search_artist(atoken, BASE_URL, a_name)
        returned_value = write_to_csv(asearch)
        del asearch, returned_value
    returned_value = clean_csv_duplicated()
    time.sleep(0.01)
    returned_value = remove_csv_columns()
    returned_value = remove_csv_files()
    del returned_value
    return 0

In [10]:
main()

0

In [8]:
df_DM_bands = pd.read_csv(r'C:\Users\nelso\Desktop\ironhacktareas\Final_Project\Spotify_v2.2\Spotify_v2\artists_db\DM_bands.csv', encoding='iso8859_2')
df_DM_bands['name'] = df_DM_bands['name'].str.lower() 
df_DM_bands

,id,name,country,status,formed_in,genre,theme,active,Unnamed: 8,Unnamed: 9
0,1,('m') inc.,United States,Unknown,2009.0,Death Metal,NaN,2009-?,NaN,NaN
1,2,(sic),United States,Split-up,1993.0,Death Metal,NaN,1993-1996,NaN,NaN
2,3,.f.o.a.d.,France,Active,2009.0,Death Metal,Life and Death,2009-present,NaN,NaN
3,4,100 suns,United States,Active,2004.0,Death Metal,NaN,2004-present,NaN,NaN
4,5,12 days of anarchy,United States,Split-up,1998.0,Death Metal,Anarchy,1998-2002,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
37718,37719,gladiator,Slovakia,Active,1988.0,Death/Thrash Metal (1988-93)| Grunge/Hard Rock...,Sorrow| Nuclear War| Doom,1988-present,NaN,NaN
37719,37720,innersight,Hungary,Active,1997.0,Post-Rock (early)| Progressive Death Metal (mi...,NaN,1997-present,NaN,NaN
37720,37721,lunarsapian,International,Active,2008.0,Black/Death/Doom Metal (early)| Drone/Dark Amb...,NaN,2008-present,NaN,NaN
37721,37722,subconscious,Germany,Active,1990.0,Progressive Thrash/Death Metal (1992| 2002-pre...,NaN,1990-1997| 2002-present,NaN,NaN
37722,37723,frozen mist,United States,Active,2004.0,Gothic Metal (2004-2006)| Melodic Death/Gothic...,Darkness| Despair| Death| Horror| Pagan Ancestry,2004-2014| 2014-2016| 2016-present,NaN,NaN

In [12]:
df_List_artist_2_2  = pd.read_csv(r'C:\Users\nelso\Desktop\ironhacktareas\Final_Project\Spotify_v2.2\Spotify_v2\temp_csv_files\Final_list_artist_v2.csv', encoding='iso8859_2')
df_List_artist_2_2 ['genres'] = df_List_artist_2_2['genres'].astype('str')
df_List_artist_2_2 ['genres'] = df_List_artist_2_2['genres'].str.replace("'", "")
df_List_artist_2_2 ['genres'] = df_List_artist_2_2['genres'].str.replace("[", "")
df_List_artist_2_2 ['genres'] = df_List_artist_2_2['genres'].str.replace("]", "")
df_List_artist_2_2 ['genres'] = df_List_artist_2_2['genres'].str.replace(",", "")
df_List_artist_2_2  = df_List_artist_2_2 .drop(['type', 'href'], axis=1)
df_List_artist_2_2['name'] = df_List_artist_2_2['name'].str.lower() 
df_spot = df_List_artist_2_2 [(df_List_artist_2_2 ['genres'].str.contains('death metal'))]
df_spot

C:\Users\nelso\miniconda32\envs\Final_Project\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  after removing the cwd from sys.path.
C:\Users\nelso\miniconda32\envs\Final_Project\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  """

,genres,id,name,popularity,followers.total
31,colombian death metal,5OwPAhftA8RDjcNFNIcIi5,inbreeding sick,33,259
102,"brutal death metal ""death n roll"" death metal ...",4pFAF1L1tYnJHLe5hgyKuI,six feet under,45,145372
105,french death metal,6WL6xlSqEs8k4lFbjd03bn,the seven gates,0,64
134,italian death metal,1zrhIsvPOMNgoHW9YLESlq,a place for murder,0,66
186,goregrind irish death metal irish metal,7JiGOjZmUWZWyhhQsyBZs4,abaddon incarnate,5,865
...,...,...,...,...,...
31949,florida death metal,48xKhMwR27gMs5corijsNt,order of ennead,2,706
31957,colombian death metal,2DMTxnsEUkARl8oroZ90ts,ordog,0,24
32012,cavernous death metal,79tFEqKUbOncVYJY75vZu2,ossuarium,7,3842
32035,cavernous death metal voidgrind,0TqeBKIm8KAKw6DYwUXqMQ,our place of worship is silence,13,4725
32041,death metal groove metal hard rock metal old s...,0NmYchKQ8JIR9QHYJA0FRe,overkill,49,445609

In [20]:
df_final = df_DM_bands.merge(df_spot[['name', 'popularity', 'followers.total']], on='name', how='left')
df_final

,id,name,country,status,formed_in,genre,theme,active,Unnamed: 8,Unnamed: 9,popularity,followers.total
0,1,('m') inc.,United States,Unknown,2009.0,Death Metal,NaN,2009-?,NaN,NaN,NaN,NaN
1,2,(sic),United States,Split-up,1993.0,Death Metal,NaN,1993-1996,NaN,NaN,NaN,NaN
2,3,.f.o.a.d.,France,Active,2009.0,Death Metal,Life and Death,2009-present,NaN,NaN,NaN,NaN
3,4,100 suns,United States,Active,2004.0,Death Metal,NaN,2004-present,NaN,NaN,NaN,NaN
4,5,12 days of anarchy,United States,Split-up,1998.0,Death Metal,Anarchy,1998-2002,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
37850,37719,gladiator,Slovakia,Active,1988.0,Death/Thrash Metal (1988-93)| Grunge/Hard Rock...,Sorrow| Nuclear War| Doom,1988-present,NaN,NaN,NaN,NaN
37851,37720,innersight,Hungary,Active,1997.0,Post-Rock (early)| Progressive Death Metal (mi...,NaN,1997-present,NaN,NaN,NaN,NaN
37852,37721,lunarsapian,International,Active,2008.0,Black/Death/Doom Metal (early)| Drone/Dark Amb...,NaN,2008-present,NaN,NaN,NaN,NaN
37853,37722,subconscious,Germany,Active,1990.0,Progressive Thrash/Death Metal (1992| 2002-pre...,NaN,1990-1997| 2002-present,NaN,NaN,NaN,NaN
37854,37723,frozen mist,United States,Active,2004.0,Gothic Metal (2004-2006)| Melodic Death/Gothic...,Darkness| Despair| Death| Horror| Pagan Ancestry,2004-2014| 2014-2016| 2016-present,NaN,NaN,NaN,NaN

In [14]:
df_spot[['name', 'popularity', 'followers.total']]

                                  name  popularity  followers.total
31                     inbreeding sick          33              259
102                     six feet under          45           145372
105                    the seven gates           0               64
134                 a place for murder           0               66
186                  abaddon incarnate           5              865
...                                ...         ...              ...
31949                  order of ennead           2              706
31957                            ordog           0               24
32012                        ossuarium           7             3842
32035  our place of worship is silence          13             4725
32041                         overkill          49           445609

[2571 rows x 3 columns]

In [10]:
df_spot.name

31                       inbreeding sick
102                       six feet under
105                      the seven gates
134                   a place for murder
186                    abaddon incarnate
                      ...
31949                    order of ennead
31957                              ordog
32012                          ossuarium
32035    our place of worship is silence
32041                           overkill
Name: name, Length: 2571, dtype: object

In [7]:
df_concat = [df_DM_bands , df_spot]
df_concat = pd.concat(df_concat)
df_concat

NameError: name 'df_spot' is not defined

In [36]:
#df_concat = df_concat.drop(['id','Unnamed: 8', 'Unnamed: 9', 'genres'], axis=1)
df_concat = df_concat.drop(['id','Unnamed: 8', 'Unnamed: 9'], axis=1)
df_concat

,name,country,status,formed_in,genre,theme,active,genres,popularity,followers.total
0,('m') inc.,United States,Unknown,2009.0,Death Metal,NaN,2009-?,NaN,NaN,NaN
1,(sic),United States,Split-up,1993.0,Death Metal,NaN,1993-1996,NaN,NaN,NaN
2,.f.o.a.d.,France,Active,2009.0,Death Metal,Life and Death,2009-present,NaN,NaN,NaN
3,100 suns,United States,Active,2004.0,Death Metal,NaN,2004-present,NaN,NaN,NaN
4,12 days of anarchy,United States,Split-up,1998.0,Death Metal,Anarchy,1998-2002,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
31949,order of ennead,NaN,NaN,NaN,NaN,NaN,NaN,florida death metal,2.0,706.0
31957,ordog,NaN,NaN,NaN,NaN,NaN,NaN,colombian death metal,0.0,24.0
32012,ossuarium,NaN,NaN,NaN,NaN,NaN,NaN,cavernous death metal,7.0,3842.0
32035,our place of worship is silence,NaN,NaN,NaN,NaN,NaN,NaN,cavernous death metal voidgrind,13.0,4725.0
32041,overkill,NaN,NaN,NaN,NaN,NaN,NaN,death metal groove metal hard rock metal old s...,49.0,445609.0

In [ ]:
df_